<form
  action="/photos/new"
  method="post"
  enctype="multipart/form-data">

  <div class="form-group">
    <label for="photo_file">Upload Photo:</label>
    <input type="file" class="form-control" name="photo[file]" id="photo_file">
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>
