<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="border:2px solid black; text-align:center; border-radius: 1em;">
      <h4> Login </h4>
      <form action="/login" method="post" class="form-group">
        <input type="text" name="email" placeholder="Email" class="form-control"><br>
        <input type="password" name="password" placeholder="Password" class="form-control"><br>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
  </div>
</div>
