<div style="margin-top: 200px;" class="col-xs-4 col-xs-offset-4 panel panel-primary">
  <div class="panel-heading">
    <h3 style="text-align: center;">Login</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td><h4>Login</h4></td>
        <td><form action="/auth/facebook" method="get">
          <input type="text" name="username"></input>
          <input type="text" name="email"></input>
          <button type="submit" class="btn btn-success">Login</button>
        </form></td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
